#titolo{
    color:red;
}

#boolear{
    background-color: aqua;
}

#adjust-line-height{
    line-height: 0em;
}

.blank-space{
    color:white;
}


#center{
    text-align: center;
}

#footer-color{
    background-color: blue;
}

#color{
    color: antiquewhite;
}

h1{
    font-size: 40px;
}

#words-color{
    color: white;
}

#adjust-space{
    line-height: 0em;
}